<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>BIG Vaslui - 403</title>
        <%- include("../fragmente/head") %>  
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section id = "sectiune404">
            <h2>403 - forbidden</h2>
            <p>Nu aveti acces la aceasta pagina!</p>
            <figure id = "imagine404">
                <img src = "/resurse/imagini/stop.jpg" alt = "semn stop"/>
            </figure>
        </section>
    </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>