<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>BIG Vaslui - 404</title>
        <%- include("../fragmente/head") %>   
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section id = "sectiune404">
            <h2>404 - page not found</h2>
            <p>Pagina accesată nu există!</p>
            <figure id = "imagine404">
                <img src = "/resurse/imagini/inchis.jpg" alt = "semn drum inchis"/>
            </figure>
        </section>
    </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>