<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Big Vaslui - contact</title>
        <%- include("../fragmente/head.ejs") %>
        <link href = "/resurse/css/contact.css" type = "text/css" rel = "stylesheet"/>
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>
            <h2>Contact</h2>
            
        </main>
            <%- include("../fragmente/footer.ejs") %>
    </body>
</html>