<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>BIG Vaslui - Galerie</title>
        <%- include("../fragmente/head") %>     
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <%- include("../fragmente/galerie-statica.ejs") %>
    </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>