<!DOCTYPE html>
<html lang = "ro">
    <head>
        <title>BIG Vaslui - servicii</title>
        <%- include("../fragmente/head.ejs") %>
        <link href = "/resurse/css/servicii.css" type = "text/css" rel = "stylesheet"/>
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
    <main>
        <section>
            <h3>Servicii</h3>
            <div class = "serviciu">
                <figure>
                    <img src = "/resurse/imagini/van.jpg" alt = "imagine-transport" />
                </figure>
                <h3>Transport</h3>
                <p>
                    Oferim transport pe toată raza județului Vaslui cu un tarif de 1 leu/km. Pentru comenzile în valoare mai mare de 1500 de lei, transportul este gratuit.
                </p>
            </div>
            <div class = "serviciu">
                <figure>
                    <img src = "/resurse/imagini/debitare.jpg" alt = "imagine-debitare" />
                </figure>
                <h3>Debitare</h3>
                <p>Lucrătorii noștri specializați în confecții metalice se pot ocupa de debitarea țevilor metalice de oricare dimensiuni.</p>
            </div>
            <div class = "serviciu">
                <figure>
                    <img src = "/resurse/imagini/garantie.jpg" alt = "imagine-garantie" />
                </figure>
                <h3>Garanția calității</h3>
                <p>
                    Produsele noastre sunt trecute prin teste riguroase de controlul calității, însă oferim garanție oricărui produs conform standardelor europene.
                </p>
            </div>
        </section>
    </main>
        <%- include("../fragmente/footer.ejs") %>
</body>
</html>