@use '../resurse/scss/galerie-animata-frag' with (
  $transformare_f: (rotateZ(0deg),rotateZ(135deg)),
  $transformare_i: (skew(0deg), skew(90deg)),
  $nrImag: 9,
  $procent: 11.11111111111111,
  $procentRevenire: 88.88888888888889
);