@import "nav.css";
@import "table.css";
@import "icons.css";
@import "galerie-statica.css";
@import "video.css";
@import "404.css";
@import "galerie-animata.css";
@import "produs.css";
@import "produse.css";

html{
    font-size:16px;
}

.logo img{
    width:15%;
}
body{
    --culoare-1:rgb(43,3,97);
    --culoare-principala :rgba(255,255,255,0.7);
    --culoare-bg:rgb(19,3,107);
    --culoare-main:rgb(2,12,83);
    --culoare-2: rgb(2,152,222);
    --culoare-3: rgb(185, 180, 211,);
    --culoare-marcare:rgb(3, 63 ,97);
    --culoare-secundara: rgb(255, 202, 61);
    --culoare-iframe: rgba(2, 152, 222, 0.3);
    --padding-intern: 4%;
    --body-padding: 3rem;
    background: var(--culoare-bg);
    padding-left:var(--body-padding);
    padding-right:var(--body-padding);
    padding-top:0;
    padding-bottom:0;
}

body.dark{
    color:white;
    --culoare-principala:rgb(27, 10, 69);
    --culoare-secundara:rgb(92, 90, 28);
    --culoare-2:rgb(4, 80, 92)
}

main{
    --main-border:1px solid grey;
    background:var(--culoare-principala);
    
    border-left:var(--main-border);
    border-right:var(--main-border);
    
}

#grid-pagina{
    display: grid;
    
    grid-template-areas: "welcome welcome welcome welcome" /* de schimbat calendar cu utilizatori*/
                         "calendar orar orar anunturi"
                         "calendar orar orar anunturi"
                         "utilizatori stats stats server"
                         "utile utile utile utile"
                         "intrebari intrebari intrebari intrebari";
    padding:var(--padding-intern);
    grid-gap: 1rem;
}

section{
    display:block;
}

#grid-pagina section{
    outline: 1px solid var(--culoare-marcare);
    padding: 2rem;
}

#orar{
    grid-area: orar;
}

#prezentare{
    grid-area: welcome;
    padding: 0 !important;
    outline: none !important;
    font-family: 'Open Sans', sans-serif;
}
#jobs{
    grid-area: anunturi;
}
#utile{
    grid-area: utile;
}
#calendar{
    grid-area: calendar;
}
#stats{
    grid-area: stats;
}
#utilizatori{
    grid-area:utilizatori;
}
#server{
    grid-area: server;
}
#intrebari{
    grid-area: intrebari;
    margin-left: 3rem;
}
#grid-pagina #prezentare{
    padding-top: 0rem;
}

#tabel-orar th, #tabel-orar td{
    border: 1px solid var(--culoare-marcare);
    
}
#tabel-orar{
    border-collapse: collapse;
}

#prezentare section{
    margin: 0;
}

#slider{
    display:block;
    position: relative;
    overflow: hidden;
    padding: 0rem !important;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    position: relative;
    object-fit: cover;
    width: 20%;
    float: left;
}
@keyframes slider{
    0%{
        left:0;
    }
    28%{
        left: 0;
    }
    33% {
		left: -100%;
	}
	61% {
		left: -100%;
	}
	66% {
		left: -200%;
	}
	94% {
		left: -200%;
	}
	100% {
		left: -300%;
	}
}

#prezentare section{
    outline: 0px;
}

hr {
    margin-top: 3rem;
    overflow: visible;
    height: 30px;
    border: 3px double black;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -30px;
    border-style: double;
    border-color: black;
    border-width: 0 0 3px 0;
    border-radius: 20px;
}

#sus{
    color: var(--culoare-secundara);
    position: relative;
    float: right;
    right: 20px;
    bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 0;
    text-decoration: none;
    border: 3px solid var(--culoare-main);
    background: var(--culoare-marcare);
    border-radius: 40px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,1);
    opacity: 0.5;
    transition: all 400ms linear;
}

#tooltip{
    visibility: hidden;
    width: 100px;
    background: var(--culoare-main);
    color:white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: all 300ms linear;

    position: relative;
    z-index: 20;
    top: 10px;
    left: 60%;
    margin-left: -60px;
}
#buton{
    position: fixed;
    display: inline-block;
    bottom: 0%;
    right: 2%;
}
#sus:hover{
    opacity: 1;
}
#buton:hover #tooltip{
    visibility: visible;
    opacity: 1;
}

.taburi-iframe {
    display: inline-flex;
    position: relative;
    align-items: stretch;
    flex-direction: column;
    flex-wrap:wrap;
    flex-basis: 100%;
    flex: 1;
}
.taburi-iframe a{
    background: var(--culoare-2);
    text-decoration: none;
    vertical-align: top;
    color:white;
    width: 150px;
    text-align: right;
    line-height: normal;
    border: 3px double black;
    border-left:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 300ms linear;
}
.videoframe{
    display: inline-flex;
    align-items: flex-end;
    position:relative;
    border: 3px solid black;
}
.flex-iframe{
    position: relative;
    display:flex;
    align-items: flex-start;
    margin-top: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}
.taburi-iframe a:hover{
    width: 180px;
    background: var(--culoare-iframe);
}
#banner{
    visibility: visible;
    position: fixed;
    z-index: 100;
    left:0;
    width: 99vw;
    color:white;
    font-size: 30px;
    line-height: 5rem;
    text-align: center;
    border: 2px solid black;
    background: var(--culoare-marcare);
    border-radius: 10px;
    animation: banner_move 9s linear;
}
@keyframes banner_move{
    0%{
        bottom: -100px;
    }
    28%{
        bottom: 20px;
    }
    33%{
        bottom: 0px;
    }
    99%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

footer, footer a{
    color:white;
    text-decoration: none;
}

.watermark{
    display:none;
}

@media print{

    .watermark {
        display: block;
        position: fixed !important;
        opacity: 0.65;
        bottom: 0;
        right:0;
    }
    .watermark::after{
        padding :5px;
        display: block;
        width: 100px;
        height: 2cm;
        background: white;
        border: 5px double black;
        opacity: 0.65;
        border-top-left-radius:8px;
        border-bottom-left-radius:8px;
        content:"Serafim Alex";
    }

    #banner{
        visibility: visible;
        position: absolute !important;
        margin: auto;
        top: 0px !important;
        width: 80%;
        height: 80px;
        left: 140px;
        color:white;
        font-size: 30px;
        line-height: 2rem;
        text-align: center;
        border: 2px dotted black;
        background: var(--culoare-marcare);
        border-radius: 10px;
        animation: none;
    }
    
    figure{
        display: none !important;
    }
    
    .flex-iframe{
        display:none !important;
    }
    #buton{
        display: none !important;
    }
    a:link{
        text-decoration: none;
    }
    h1{
        margin-top:50% !important;
        text-align: center;
        text-decoration: underline;
        font-size: 250%;
    }
    nav{display: none !important;}
    
    header {page-break-after: always;}
    
    footer {page-break-before: always;}
    
    body{
        margin-right: 2.5cm;
        margin-left: 0.5cm; 
    }
}

@page {
    size: A4 portrait;
    counter-increment: page;
    margin-bottom:2cm;
    margin-top:2cm;
}
@page:left{

    margin-left:2.5cm;
    margin-right:0.5cm;
}
@page:right{

    margin-right:2.5cm;
    margin-left:0.5cm;
}


/*slider tema dark*/
.schimbare-tema {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .schimbare-tema input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    background-image: url("../imagini/sun.png");
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before{
    background-image: url("../imagini/moon.png");
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
