
<div class = "watermark">Alex Mihai Serafim</div>
<footer>
<div id = "buton">
        <a id="sus" href = "#top">&#5123</a>  
        <span id = "tooltip">Înapoi sus</span>    
    </div>                                                   <!-- Task 13&14 -->
    <address>
        Telefon: <a href = "tel:0335409999"> 0335409999 </a> <br>
        Adresă: Str. Decembrie nr. 99, Vaslui <br>
        E-mail: <a href = "mailto:bigvaslui@gmail.com:"> bigvaslui@gmail.com </a>
    </address>
    <small>Copyright &#169; Alex-Mihai Serafim - <time datetime="2021-03-07">7 Martie 2021</time></small>
</footer>