<header>        <!-- Task 5 -->
    <div class = "logo">
        <img src = "/resurse/imagini/logo.png" />
    </div>
</header>

<nav>   

    <label id = "hamburger" for = "check-menu">
        <img src = "/resurse/imagini/hamburger.png" alt = "menu">
    </label>
    <input id = "check-menu" type = "checkbox">
    <ul class = "meniu">
        <li> <i class="fas fa-home"></i> <div id = "acasa">Acasă</div>
                <ul>
                    <li> <a href = "/index#prezentare">Prezentare</a></li>
                    <li> <a href = "/index#calendar">Anunțuri</a></li>
                    <li> <a href = "/index#orar">Program</a></li>
                    <li> <a href = "/index#utile">Utile</a></li>
                    <li> <a href = "/index#intrebari">Întrebări</a></li>
                </ul>
        </li>
        <li><div>Produse</div>
                <ul>
                    <li> <a href = "/produse?tip=constructii">Construcții</a></li>
                    <li> <a href = "/produse?tip=sanitare">Sanitare</a></li>
                    <li> <a href = "/produse?tip=finisaje">Finisaje</a></li>
                    <li> <a href = "/produse?tip=unelte">Unelte</a></li>
                </ul>
        </li>
        <li> <a href = "/servicii">Servicii</a></li>
        <li> <a href = "/contact">Contact</a> </li>
        <li> <a href = "/galerie">Galerie</a></li>
    </ul>   
</nav>
